{{- if .Values.adotCollector.clusterRoleBinding.enabled }}
# ClusterRoleBinding for ADOT Collector as a DaemonSet references and grants permissions defined in ClusterRole to service accounts/users/groups in subjects.
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Values.adotCollector.clusterRoleBinding.name }}
  labels:
    {{- include "adotCollector.daemonSet.commonLabels" . | indent 4 }}
subjects:
- kind: ServiceAccount
  name: {{ .Values.adotCollector.serviceAccount.name }}
  namespace: {{.Release.Namespace}}
roleRef:
  kind: ClusterRole
  name: {{ .Values.adotCollector.clusterRole.name }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}
