{{- if  .Values.adotCollector.serviceAccount.enabled -}}
# Service account provides identity information for a user to be able to authenticate processes running in a pod.
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.adotCollector.serviceAccount.name }}
  namespace: {{.Release.Namespace}}
  {{- with .Values.adotCollector.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "adotCollector.daemonSet.commonLabels" . | indent 4 }}
{{- end -}}
